<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dfs_pickinglist</name>
    <displayName><![CDATA[DFS Picking List]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Génère une liste de préparation des produits à partir d'un transporteur et d'une date.]]></description>
    <author><![CDATA[Cyrille Mohr - Digital Food System]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
